


body {
  background-color: rgb(255, 192, 0);
  color: rgb(86, 1, 85);

}

/* Make all images with this class responsive */
.responsive-img {
  display: block;       /* ensures margin auto works */
  margin: 20px auto;    /* centers the image and adds vertical spacing */
  width: 90%;           /* image takes up 90% of the screen width */
  max-width: 800px;     /* prevents it from being too big on large screens */
  height: auto;         /* maintains aspect ratio */
}